.home-navbar {
    background-color: #434954;
    padding: 16px;
    width: 100%;
    min-height: 150px;
    text-align: center;
}

page-home {
     .thumbnail {
        width: 18%;
        height: 18%;
        background-color: #434954;
    }
}
