
<ion-header>

  <ion-navbar  color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>TV Shows</ion-title>
    <ion-buttons end (click)="onGoToSearch()">
        <button ion-button class="searchbutton">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content class="card-background-page" no-padding>

    
        <div>
        <ion-slides pager loop="true" autoplay="5000" >
            <ion-slide>
              <img src="assets/imgs/c.jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="assets/imgs/b.jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="assets/imgs/a.jpg"/>
            </ion-slide>
          </ion-slides>
        </div>



<ion-item>
    <ion-card item-start class="card1" (click)="onGoToPageTv()">
      <img src="assets/imgs/5.png" />
      <div class="card-title">Top Shows</div>
    </ion-card>
    
  
    <ion-card item-start class="card2" (click)="onGoToPageAiring()">
      <img src="assets/imgs/6.png" />
      <div class="card-title">Airing Today</div>
    </ion-card>
  </ion-item>
  
  <ion-item>
    <ion-card item-start class="card1" (click)="onGoToPageOnair()">
      <img src="assets/imgs/7.png" />
      <div class="card-title">On Air Shows</div>
    </ion-card>
  
    <ion-card item-start class="card2" (click)="onGoToPagePopular()">
      <img src="assets/imgs/8.png" />
      <div class="card-title">Popular Show</div>
    </ion-card>
  </ion-item>

<ion-card>
<ion-list >
    <div *ngFor= "let movie of list, let i = index">
      <ion-item  *ngIf = "i<4" (click)="onGoToPage(movie.id)" > 
       
      
        <img class="thumbnail" item-start [src] ="'https://image.tmdb.org/t/p/w185_and_h278_bestv2'+movie.poster_path">
    
     <h2>{{movie.name}}</h2>
     <p>Rating: {{movie.vote_average}}</p>
     <p>Released: {{movie.release_date}}</p>
    
      <p>{{movie.overview}} </p>
    
       <button ion-button icon-only item-end clear>
        <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle" color="primary" clear>
  
        </ion-icon>
      </button>
   
  </ion-item>
  </div>
  
    </ion-list>
  </ion-card>

  </ion-content>


