page-nxtv {

    .content {
        padding-right: 10px;
    }
    
     .poster{
        width: 35%;
        height: 35%;
        float: left;
        box-sizing: border-box;
        padding-right: 15px;
     }
    
     .overview {
        text-align: justify;
        padding-left: 10px;
     }
}
