

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
        <button ion-button icon-only menuToggle end>
            <ion-icon name="close-circle"></ion-icon>
          </button>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item-group>
        <ion-item-divider color="primary" >
            Movie Features
            <ion-icon name="easel" item-start></ion-icon>
          </ion-item-divider>
      </ion-item-group>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <ion-item-group>
          <ion-item-divider color="primary">
            TV Shows
              <ion-icon name="film" item-start></ion-icon>
            </ion-item-divider>
        </ion-item-group>
        <button menuClose ion-item *ngFor="let p of shows" (click)="openPage(p)">
          {{p.title}}
        </button>

      <ion-item-group>
        <ion-item-divider color="secondary">Added Features
            <ion-icon name="barcode" item-start></ion-icon>
        </ion-item-divider>
      </ion-item-group>
      <button menuClose ion-item *ngFor="let p of added" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>



  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>